In [1]:
t = (55, 92, 110, 66, 75, 45, 40, 57, 55, 62)

In [2]:
#Extract item at index position 2
print("Item at t[2] is", t[2])


#Extract item at index position -2
print("Item at t[-2] is", t[-2])

Item at t[2] is 110
Item at t[-2] is 55

In [3]:
#Extract items from the beginning of the tuple to index position 2 (excluded).
print("t[:2] is", t[:2])

#Extract items from index position 5 to the end of the tuple.
print("t[5:] is", t[5:])

#print all items in a tuple
print("\nPrint all items in tuple t", t)

# Tuple concatenation: add tuples together
t2 = t + (70,)   #you have to specify the one item as a tuple as well
print("\nConcatenate t to (70,) results in", t2) 

# Tuple replication:  replicate contents of a tuple by a specified number of times
t3 = t * 2
print("\nReplicating tuple t by 2:", t3)

# Tuple unpacking - place data items of tuple in separate variables
print("\nTuple unpacking:")
t4 = ("Alexia", "MCB", "1B")
(name, subject, year) = t4
print("Name is", name)
print("Subject is", subject)
print("Year is", year)

t[:2] is (55, 92)
t[5:] is (45, 40, 57, 55, 62)

Print all items in tuple t (55, 92, 110, 66, 75, 45, 40, 57, 55, 62)

Concatenate t to (70,) results in (55, 92, 110, 66, 75, 45, 40, 57, 55, 62, 70)

Replicating tuple t by 2: (55, 92, 110, 66, 75, 45, 40, 57, 55, 62, 55, 92, 110, 66, 75, 45, 40, 57, 55, 62)

Tuple unpacking:
Name is Alexia
Subject is MCB
Year is 1B

In [4]:
# change the data item at index position 2 of tuple t
t[2] = 80

TypeError: 'tuple' object does not support item assignment

In [5]:
#Check if number 2 is one of the items of tuple t
2 in t      #returns False

#Check if number 55 is one of the items of tuple t
55 in t     #returns True

#Check that 2 is not one of the items of tuple t
2 not in t  #returns True

True

In [6]:
l = [55, 92, 110, 66, 75, 45, 40, 57, 55, 62]

In [7]:
#print contents of l and get id of l
print(l)
print("l is referencing object", id(l), "in memory")

# change the data item at index position 2 of list l
l[2] = 80
print("\nAfter l[2] = 80, l is:", l)
print("l is referencing object", id(l), "in memory")

[55, 92, 110, 66, 75, 45, 40, 57, 55, 62]
l is referencing object 140692429043904 in memory

After l[2] = 80, l is: [55, 92, 80, 66, 75, 45, 40, 57, 55, 62]
l is referencing object 140692429043904 in memory